.modal-container {
	box-sizing: border-box;
	background-color: black;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.form-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 60vh;
		background: tomato;
	}

	.baby-form {
		display: flex;
		flex-direction: column;
		width: 75%;
		max-width: 800px;

		input {
			height: 2rem;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
		}
		input:focus {
			outline: none;
		}

		.modal_baby_owner_id {
			visibility: hidden;
		}

		.modal_baby_name {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.modal_baby_birthday {
			border-bottom-color: transparent;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			margin-bottom: 1rem;
		}
	}
}
